<html>
<head>
    <title>
        Dockerizing a Python web Application
    </title>
</head>
<body>
    <h1> This is Flask web application with Docker </h1>

    <h2> Response from host {{ HOSTNAME }} with IP address {{ IP }} </h2>
</body>
</html>